.Nav a {
  text-decoration: none;
  color: #fff;
}

.Footer {
  display: flex;
  text-align: center;
  bottom: 0;
  position: relative;
  justify-content: center;
  align-items: flex-end;
}
.cartList {
  display: flex;
  flex-wrap: wrap;
  padding: 7%;
  
}
.cart {
  margin: 3%;
  text-align: center;
}
.formContact {
  display: flex;
  justify-content: center;
}
.inputContact {
  display: flex;
  flex-direction: column;

}